--- 
import LayoutPublic from '../layouts/LayoutPublic.astro';
import { general } from '../common/constants'
---

<LayoutPublic title={general.title} descripcion={general.descripcion}>
<h1>404</h1>
<p>404 not found</p> 
</LayoutPublic> 
