--- 
import LayoutPublic from '../../layouts/LayoutPublic.astro';
import { general } from '../../common/constants'
---

<LayoutPublic title={general.title} descripcion={general.descripcion}>
<h1>Checkout</h1>
<p>Esta es la página de Checkout</p> 
</LayoutPublic> 
